@model IEnumerable<Hankins_MIS4200.Models.Plane>

@{
    ViewBag.Title = "Central Aircraft Database";
}

    <h2>Central Aircraft Database</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.planeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.airline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateManufactured)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.planeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.airline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateManufactured)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.planeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.planeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.planeId })
        </td>
    </tr>
}

</table>
